@font-face {
    font-family: TT-interphase;
    src: url(fonts/TT\ Interphases\ Pro\ Trial\ Regular.ttf);
}
@font-face {
    font-family: TT-Interphase-Bold;
    src: url(fonts/TT\ Interphases\ Pro\ Trial\ ExtraBold.ttf)
}
body {
    font-family: 'TT-interphase';
    background-color: #051721;
    margin: 0px;
    height: 200vh;
    width: 100%;
}
section {
    width: 100%;
    height: 100vh;
}
.arrow-up {
    display: center; 
    position: relative; 
    bottom: -600px; 
    left: 1400px;
    z-index: 99; 
    border-style: solid;
    border-color: #F58800;
    outline: none; 
    background-color: rgb(255, 255, 255); 
    color: #F58800; 
    cursor: pointer; 
    padding: 15px; 
    border-radius: 30px; 
    width: 55px;
    font-size: 18px; 
    background-color: transparent;
    transition: 250ms;
}
.arrow-up:hover {
    background-color: #F58800; 
    color: aliceblue;
    border-color: #F58800;
}
nav {
    background-color: #051721;
    opacity: 0.8;
    height: 10vh;
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0;
    top: 0;
    z-index: 99;
}
nav ul li {
    list-style: none;
    display: inline-block;
    margin-right: 3vh;
}
nav ul li a {
    text-decoration: none;
    color: white;
}
header{
    width: 100%;
    height: 100vh;
}
.intro {
    max-width: 1536px;
    height: 100vh;
}
.back-video{
    position: absolute;
    right: 0;
    top: -20%;
    object-fit: contain;
    z-index: -1;
}
.nav-intro {
    color: transparent;
    position: absolute;
    top: -100px;
}
.intro-text {
    color: aliceblue;
    width: 100px;   
    height: 50px;
    font-size: 120px;
    z-index: 1;
    position: absolute;
    left: 750px;
    bottom: 350px;
    text-shadow: 1px 1px 2px rgb(101, 101, 101);
    
}
.intro-text-year {
    color: aliceblue;
    width: 100px;
    height: 50px;
    font-size: 120px;
    z-index: 1;
    position: absolute;
    left: 1060px;
    bottom: 250px;
    text-shadow: 1px 1px 2px rgb(101, 101, 101);
}
.featured {
    height: 100vh;
    max-width: 1536px;
    background: #051721;
}
h1 {
    color: white;
    margin: 0;
    width: 238px;
    padding-top: 70px;
    padding-right: 0px;
    padding-left: 100px;
}
.featured-car {
    float: right;
    padding-top: 10px;
    right: 200px;
    size: 200%; 
    height: 600px;
    position: relative;
    width: 100%;
}
.car-featured {
    position: relative;
    left: 900px;
    height: 600px;
}
.graphics-slides {
    position: absolute;
    left: 60.5%;
    top: -18.2%;
    height: 100vh;
    width: 52.6%;
}
.horizontal-graphics {
    display: flex;
    width: 100%;
}
.graphics-one, .graphics-two{ 
    padding-top: 54px;
    position: relative;
    top: 6px;  
}
.graphics-one {
    width: 600px;
    position: relative;
}
.graphics-two {
    width: 600px;
    position: relative;
    right: 20px;
    object-fit: contain;
}
.featured-title {
    color: white;
    padding-top: 100px;
    padding-right: 800px;
    padding-left: 100px;
    margin: 0;
    font-size: 30px;
    font-weight: bold;
    position: relative;
    bottom: 500px;
}
.featured-text {
    color: white;
    padding-top: 10px;
    padding-right: 800px;
    padding-left: 100px;
    margin: 0;
    font-size: 16px;
    position: relative;
    bottom: 500px;
}
.learn-more {
    border-style: solid;
    border-color: #F58800;
    border-radius: 3px;
    background-color: #051721;
    color: white;
    font-family: TT-interphase;
    font-size: large;
    height: 50px;
    width: 220px;
    margin-top: 100px;
    margin-left: 100px;
    cursor: pointer;
    transition: background-color 0.15s, color 0.15s;
    position: relative;
    bottom: 500px;
}
.learn-more:hover {
    background-color: #F58800; 
}
.categories {
    height: 100vh;
    max-width: 1536px;
    background: #051721;
}
.horizontal-graphics-two {
    display: flex;
    width: 100%;
    position: relative;
    bottom: 3px;
    
}
.graphics-three, .graphics-four{ 
    padding-top: 54px;
    position: relative;
    top: 6px;
    left: -55px;
    
}
.graphics-three {
    width: 600px;
    position: relative;
}
.graphics-four {
    width: 600px;
    position: relative;
    right: 30px;
    object-fit: contain;
    left: -75px;
    
}
.category-title {
    color: white;
    margin: 0;
    padding-top: 70px;
    padding-right: 0px;
    padding-left: 125px;
    font-size: 30px;
    font-weight: bold;
    width: 200px;
    background-color: #051721;
    z-index: 1;
}
.wrapper {
    box-sizing: border-box;
    text-align: center;
    font-size: 30px;
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    width:98%;
}
.column {
    border: 4px solid #F58800;
    display: inline-flex;
    float: left;
    width: 30%;
    height: 470.89px;
    padding: 0;
    margin: 10px;
    position: relative;
    top: 180px;
    transition: 240ms;
}
.column:hover {
    transform:scale(1.05);
    z-index: 2;
    cursor: pointer;
}
.row { 
    padding-left: 100px;
    content: "";
    display: table;
    clear: both;
    margin-left: 5px;
}

.text-category {
    list-style: none;
    display: inline-flex;
    color: white;
    position: relative;
    top: 720px;
    
}
.sports-text {
    position: relative;
    left: -470px;
    margin: 0;
}
.muscle-text {
    position: relative;
    left: -122px;
    margin: 0;
}
.vintage-text {
    position: relative;
    left: 215px;
    margin: 0;
}
.galleries {
    height: 100vh;
    max-width: 1536px;
    background: #051721;
}
.gallery-title {
    display: flex;
    width: 180px;
    position: relative;
    bottom: 3px;
    left:22px;
}
.graphics-five, .graphics-six {
    padding-top: 54px;
    position: relative;
    top: 6px;
    
}
.graphics-five {
    width: 600px;
    position: relative;
    left: -20px;
}
.graphics-six {
    width: 600px;
    position: relative;
    left: -35px;
    object-fit: contain;
}
.horizontal-graphics-three {
    display: flex;
    width: 100%;
    position: relative;
    bottom: 3px;   
}
.gallery-row {
    box-sizing: border-box;
    text-align: center;
    font-size: 30px;
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    width:98%;
}
.image-boss {
    width: 420px;
    height: 503px;
    position: relative;
    top: 203px;
    left: 1300px;
}
.image-demon {
    width: 380px;
    height: 280px;
    position: relative;
    top: 90px;
    left: 490px;   
}
.image-cayman {
    width: 380px;
    height: 220px;
    position: relative;
    top: 345px;
    left: 105px; 
}
.image-nineoneone {
    width: 450px;
    height: 279px;
    object-fit: cover;
}
.for-porsche {
    width: 450px;
    height: 220px;
    position: relative;
    top: 58px;
    left: -735px; 
}
.image-huracan {
    width: 450px;
    height: 220px;
    position: relative;
    top: 345px;
    left: -1185px; 
}
.image-boss, .image-demon, .image-cayman, .image-nineoneone, .image-huracan {
    border-color: transparent;
    border-style: solid;
    border-radius: 3px;
    transition: 250ms;
}
.image-boss:hover, .image-demon:hover, .image-cayman:hover, .image-nineoneone:hover, .image-huracan:hover {
    border-color: #F58800;
    border-style: solid;
    border-radius: 3px;
    cursor: pointer;
}
.about-us {
    width: 100%;
    height: 100vh;
    background-image: url(images/graphics/about-us-tesla.png);
    background-repeat: no-repeat;
    background-position: center;
}
.cover-about-us {
    background-color: #05172164;
    height: 100vh;
    width: 100%;
}
.about-us-two {
    color: #F58800;
    width: 30%;   
    height: 15%;
    font-size: 100px;
    font-family: TT-Interphase-Bold;
    z-index: 1;
    position: absolute;
    top: 410%;
    left: 160px;
    text-shadow: 1px 1px 2px rgb(59, 59, 59);
}
.creator-message {
    color: aliceblue;
    font-family: TT-Interphase;
    font-size: 18px;
    width: 620px;
    height: 0;
    text-align: justify;
    position: relative;
    top: 295px;
    left: 160px;
    text-shadow: 1px 1px 2px rgb(101, 101, 101);
}
.follow-us {
    color: #F58800;
    width: 800px;   
    height: 100px;
    font-size: 50px;
    font-family: TT-Interphase-Bold;
    z-index: 1;
    position: absolute;
    top: 449%;
    left: 155px;
    text-shadow: 1px 1px 2px rgb(59, 59, 59);
}
.contact-us {
    color: aliceblue;
    font-family: TT-Interphase;
    font-size: 18px;
    width: 620px;
    height: 0;
    text-align: justify;
    position: relative;
    top: 49.7%;
    left: 115px;
    text-shadow: 1px 1px 2px rgb(101, 101, 101);
    text-align: justify;
    list-style: none;
}
.names {
    margin: 5px;
}
.fb-profile {
    color: aliceblue;
    font-family: TT-Interphase;
    font-size: 18px;
    width: 620px;
    height: 0;
    text-align: justify;
    position: relative;
    top: 352px;
    left: 250px;
    text-shadow: 1px 1px 2px rgb(101, 101, 101);
    text-align: justify;
    list-style: none;
    z-index: 99;
}
.profile {
    margin: 5px;
    color: aliceblue;
}
.me {
    color: aliceblue;
}
